<% include ../partials/header %>
<div class='ui main text container segment'>
    <div class='ui huge header'>New Comment</div>
    <form class='ui form' action="/calisthenics/<%= move._id %>/comments" method='POST'>
        <div class='field'>
            <label>Comment</label>
            <input type='text' name ='comment[text]' placeholder="text"'>
        </div>
        <input class='ui blue big basic button' type='submit'>
    </form>
    <a href="/calisthenics">Go Back</a>
</div>
<% include ../partials/footer %>


